#blockly {
  position: fixed;
  bottom: 10px;
}
#visualization {
  position: relative;
}

.inline-block-child {
  display: inline-block;
}

#capacityBubble {
  position: absolute;
  margin-top: 0.4em;
  left: 10px;
  top: 375px;
  width: 360px;
}

html[dir="RTL"] #capacityBubble {
  left: auto;
  right: 5px;
}
#capacity {
  display: none;
  color: #fff;
  padding: 4px 1em;
  border-radius: 10px;
  background-color: rgba(64,64,64,0.7);
  font-size: large;
}
.capacityNumber {
  font-weight: bold;
}

#capacityBubble {
  position: absolute;
  margin-top: 0.4em;
  margin-left: 3.0em;
  left: 110px;
  top: 425px;
  width: 250px;
}

html[dir="RTL"] #timeBubble {
  left: auto;
  right: 5px;
}
#time {
  display: none;
  color: #fff;
  padding: 4px 5px;
  border-radius: 10px;
  background-color: rgba(223, 72, 72, 0.863);
  font-size: large;
}
.timeNumber {
  font-weight: bold;
}

#timeBubble {
  position: absolute;
  margin-top: 0.4em;
  margin-left: 0em;
  left: 5px;
  right: 5px;
  top: 425px;
  width: 250px;
}


#sampleOneTopBlock {
  height: 80px;
  width: 250px;
}
#pegSpin {
  height: 50px;
  width: 49px;
  background-position: -343px 0px;
  margin-top: 10px;
  position: absolute;
}
html[dir="RTL"] #pegSpin {
  background-position: -441px 0px;
}

.helpMenuFake {
  border-radius: 4px;
  background-color: #bfcdde;
  color: #000;
  padding: 0 1ex;
  cursor: default;
}
img[src$="help_up.png"] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}
img[src$="help_down.png"] {
  margin: 0 10px -20px;
  height: 64px;
  width: 23px;
}

#svgMaze {
  overflow: hidden;
}

/* 'Look' icon */
#look>path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

/* Buttons */
button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
}
.stop {
  background-position: -21px -21px;
}

#pegmanButton {
  padding: 0;
  position: relative;
}
#pegmanButton:active {
  border: 1px solid #ddd !important;
}
#pegmanButton>img {
  margin-left: -0.5ex;
  margin-right: 0.5ex;
  height: 38px;
  width: 49px;
  background-position: -980px 0px;
  opacity: 0.8;
}
html[dir="RTL"] #pegmanButton>img {
  margin-left: 0.5ex;
  margin-right: -0.5ex;
}
#pegmanButton>span {
  position: absolute;
  top: 0.8ex;
  margin-left: -15px;
}
html[dir="RTL"] #pegmanButton>span {
  margin-right: -15px;
}
#pegmanMenu {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888;
  display: none;
  position: absolute;
}

#pegmanMenu>div {
  background-color: #fff;
}
#pegmanMenu>div:hover {
  background-color: #57e;
}
#pegmanMenu>div>img {
  height: 38px;
  width: 49px;
  background-position: -980px 0px;
}


#banner {
  padding: 0.2em;
}

/*NEW*/
.nav-spacer {
  padding:25px 1px;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 1px 1px;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.header a {
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.header a.language {
  float: left;
  padding: 0px 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0px; 
  line-height: 0px;
  border-radius: 0px;
}

.header a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.header a:hover.color-one {
  background-color: #1efc1e;
}

.header a:hover.color-two {
  background-color: #ff1053;
}

.header a:hover.color-three {
  background-color: #00f2f2;
}


.header a.active {
  background-color: rgb(52, 113, 175);
  color: rgb(255, 255, 255);
}

.header-right {
  float: right;
}

.header-center {
  float: center;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

}